<section class="Home-hero">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xl-4 col-lg-5">
                <div>
                    <h1 class="Home-hero__catchline">
                        Créez simplement vos compagnes de <b>distribution de flyers</b>
                    </h1>
                    <a class="Home-hero__button" href="http://www.distrix.fr/administration">
                        Démarrez votre campagne
                    </a>
                    <div class="Home-hero__animation"></div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-7">
                <div class="Home-hero__video">
                    <video autoplay muted loop>
                        <source src="media/video/intro.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
