<section class="Contact-form">

    <div class="Contact-form__head">
        <div class="container">
            <h1 class="Contact-form__head__title">{{ contact_form.text.title }}</h1>
            <h2 class="Contact-form__head__subtitle">{{ contact_form.text.subtitle | safe }}</h2>
            <p class="Contact-form__head__small">{{ contact_form.text.small }}</p>
        </div>
    </div>

    <div class="container">
        <form id="contact-form" action="{{ contact_form.form.action }}" method="POST">

            {% for input in contact_form.form.inputs %}
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-2 col-md-3 col-12">
                        <label class="Contact-form__label">
                            {{ input.label }}
                            {% if input.required %}<span class="Contact-form__label__required">*</span>{% endif %}
                        </label>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">

                        {% if input.type == 'text' or input.type == 'email' or input.type == 'phone' %}

                            <input class="Contact-form__input"
                            type="{{ input.type }}"
                            name="{{ input.label }}"
                            {% if input.required %}required{% endif %}>

                        {% elseif input.type == 'textarea' %}

                            <textarea class="Contact-form__input"
                            rows="4"
                            name="{{ input.label }}"
                            {% if input.required %}required{% endif %}></textarea>

                        {% elseif input.type == 'select' %}

                            <div class="Contact-form__select">
                                <select name="{{ input.label }}"
                                {% if input.required %}required{% endif %}>
                                    {% for option in input.options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                                <i class="Contact-form__select__icon fas fa-caret-down"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <button class="Contact-form__submit" id="contact-form-button">Envoyer</button>
            <p class="Contact-form__status" id="contact-form-status"></p>
        </form>
    </div>
</section>
