{% set page_title = 'Distribution flyers Bordeaux Nouvelle Aquitaine Prospectus street marketing' %}
{% set page_description = 'Distrix est là pour répondre à tous vos besoins professionnels de la création à la distribution sur Bordeaux et la région nouvelle Aquitaine.' %}
{% extends 'layout.njk' %}

{% set city_content = {
    image: '/media/img/city/bordeaux.jpg',
    name: 'Bordeaux',
    text: '<h1>Distrix spécialiste de la distribution de flyers à Bordeaux</h1>
    <p>Distrix est là pour répondre à tous vos besoins professionnels de la création à la distribution sur Bordeaux et la région Nouvelle Aquitaine.<br>Nos outils de création sont à votre disposition pour vous permettre de réaliser vos flyers et prospectus à partir de modèles prédéfinis, vous pouvez aussi télécharger vos propres modèles. Sinon nos graphistes sont aussi à votre disposition pour réaliser des designs uniques.</p>
    <h2>La distribution de flyers et prospectus à Bordeaux et la région Nouvelle Aquitaine.</h2>
    <p>Le ciblage de Bordeaux et de la région Nouvelle Aquitaine est un atout, l’aire urbaine de Bordeaux compte plus d’un million d’habitants, la ville est aussi la capitale de la région, célèbre pour son vignoble, ses vins, sa gastronomie, son dynamisme industriel et maritime.<br>Distrix et ses équipes vous propose d’intervenir pour la distribution de vos flyers et prospectus sur Bordeaux, Libourne, Arcachon, Dax, Bayonne, Saintes, Angoulême…</p>'
} %}

{% block body %}
    {% include 'template/city/content/content.njk' %}
{% endblock %}
