{% set page_title = 'Contact' %}
{% set page_description = 'Pour demander un devis gratuit, merci de compléter et soumettre ce formulaire. Nous vous contacterons le plus vite possible.' %}
{% extends 'layout.njk' %}

{% block body %}
    {% include 'template/contact/form/form.njk' %}
{% endblock %}
