{% set page_title = 'Accueil' %}
{% set page_description = 'Créez simplement vos compagnes de distribution de flyers' %}
{% extends 'layout.njk' %}

{% block body %}
    {% include 'template/home/hero/hero.njk' %}
    {% include 'template/home/biglist/biglist.njk' %}
{% endblock %}
