{% set page_title = 'Distribution flyers Lyon Rhône Alpes Auvergne Prospectus street marketing' %}
{% set page_description = 'Vous êtes une entreprise de Lyon ou sa région, ou vous désirez lancer une campagne de street marketing en Rhône Alpes Auvergne, faite confiance à Distrix et ses équipes.' %}
{% extends 'layout.njk' %}

{% set city_content = {
    image: '/media/img/city/lyon.jpg',
    name: 'Lyon',
    text: '<h1>Vos flyers et prospectus réalisés par Distrix</h1>
    <p>Vous êtes une entreprise de Lyon ou sa région, et vous désirez lancer une campagne de street marketing en Rhône Alpes Auvergne, faite confiance à Distrix et ses équipes. Dans un premier temps nous mettons à votre disposition nos outils et modèles de flyer pour une création et une impression rapide, mais vous pouvez aussi opter pour la solution d’un graphisme unique réalisé par nos professionnels, ou fournir vos propres designs.</p>
    <h2>Distrix se charge de la distribution de vos flyers sur lyon</h2>
    <p>L’agglomération et l’aire urbaine de la capitale des gaules est la troisième de France et représente plus de 2 millions d’habitants, la ville de Lyon possède une forte présence d’industrie de pointe, elle est également la deuxième ville étudiante de France.<br>Nos équipes sont à votre dispositions pour vous aider à planifier et organiser la distribution de vos flyers et prospectus sur Lyon et La région Rhône Alpes Auvergne, notamment : Saint Etienne, Villeurbanne, Macon, Bourg en Bresse, Vienne, Valence…</p>'
} %}

{% block body %}
    {% include 'template/city/content/content.njk' %}
{% endblock %}
