{% set page_title = 'Distribution flyers Marseille PACA  Prospectus street marketing' %}
{% set page_description = 'Marseille et la région PACA représente une cible de choix pour une campagne de distribution de flyers et prospectus.' %}
{% extends 'layout.njk' %}

{% set city_content = {
    image: '/media/img/city/marseille.jpg',
    name: 'Marseille',
    text: '<h1>Vos flyers et prospectus réalisés par Distrix</h1>
    <p>Marseille et la région PACA représente une cible de choix pour une campagne de distribution de flyers et prospectus, la ville et son aire urbaine avec plus de 2 millions d’habitants est la seconde de France, la cité est cosmopolite et est un des carrefours maritimes de la méditerranée.<br>Distrix met comme dans les autres villes ou nous sommes présent, tous nos outils de création à votre disposition, que vous ayez besoin d’un modèle tout prêt, de votre création, ou d’une création unique réalisée par nos graphistes.</p>
    <h2>Toute l’expérience Distrix pour votre distribution de flyers sur Marseille</h2>
    <p>Confiez nous l’organisation et la distribution de vos Flyers et prospectus sur Marseille et sa région, nous étudierons avec vous la zone géographique à couvrir et nous déploierons toutes les équipes nécessaires pour la réalisation de vos objectifs, nous pouvons couvrir tous les arrondissements Marseillais, mais aussi : Aix en Provence, Toulon, Fréjus, Cannes, Nice, Martigues, Hyères, Istres, Vitrolles…</p>'
} %}

{% block body %}
    {% include 'template/city/content/content.njk' %}
{% endblock %}
