{% set page_title = 'Distribution flyers Montpellier Occitanie Prospectus street marketing' %}
{% set page_description = 'Distrix met à votre service tout son professionnalisme pour vos distributions de flyers et prospectus à Montpellier.' %}
{% extends 'layout.njk' %}

{% set city_content = {
    image: '/media/img/city/montpellier.jpg',
    name: 'Montpellier',
    text: '<h1>Distrix spécialiste de la distribution de flyers à Montpellier</h1>
    <p>Acteur majeur du street marketing dans plusieurs villes de France, Distrix vous conseille, vous accompagne et met à votre service tout son professionnalisme pour vos distributions de flyers et prospectus à Montpellier.</p>
    <h2>Vos créations de flyers et prospectus</h2>
    <p>Distrix vous propose son outil professionnel de création de flyer en ligne pour vous vous faire gagner du temps, vous pouvez aussi télécharger vos propres créations, ou demander à nos graphistes de travailler sur un design personnalisé et unique.</p>
    <h2>La distribution de flyers et prospectus à Montpellier et sa région.</h2>
    <p>Montpellier est la deuxième plus grande ville de la région Occitanie, ancienne capitale du Languedoc Roussillon, forte d’une métropole qui compte plus de 460 000 habitants et connue pour ses célèbres universités.<br>Pour tous vos projets de communication de prospectus et de flyers l’équipe professionnel distrix est à votre service, pour que vous profitiez pleinement du Dynamisme économique de Montpellier et sa région, nous pouvons intervenir sur :<br>Montpellier, Nîmes , La Grande Motte, Ales Béziers…</p>'
} %}

{% block body %}
    {% include 'template/city/content/content.njk' %}
{% endblock %}
