{% set page_title = 'Distribution flyers Perpignan Occitanie Catalogne Prospectus street marketing' %}
{% set page_description = 'Marseille et la région PACA représente une cible de choix pour une campagne de distribution de flyers et prospectus.' %}
{% extends 'layout.njk' %}

{% set city_content = {
    image: '/media/img/city/perpignan.jpg',
    name: 'Perpignan',
    text: '<h1>Vos campagnes de flyers et prospectus à Perpignan</h1>
    <p>Dernière ville française méditerranéenne importante avant l\'Espagne, dont la gare est le centre du monde selon Salvador Dali, Perpignan la catalane vous permettra de communiquer avec des clients français et espagnol. Nos outils de créations de flyers et prospectus sont à votre disposition avec des possibilités de modèles déjà prêt, de télécharger vos propres modèles ou de faire appel à nos créatifs.</p>
    <h2>Distribution de flyers à Perpignan</h2>
    <p>Quatrième ville d’Occitanie avec un ère urbaine de plus de 300 000 milles habitants, Perpignan est à 200 km de Toulouse et 190 de Barcelone. Nos équipes catalanes sont prêtes à vous conseiller pour la distribution de vos Flyers à Perpignan ainsi que de vos prospectus.<br>Nous intervenons aussi sur :  Narbonne, Argeles, Rivesaltes, Pamiers, Béziers, Agde…</p>'
} %}

{% block body %}
    {% include 'template/city/content/content.njk' %}
{% endblock %}
